* {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
    color: black;
    /*border: 1px solid red;*/
}
.header{
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    justify-content: space-between;
    padding: 24px 48px;

}
.lista-header{
    display: flex;
    height: 100%;
    align-items: center;
    gap: 40px;
}
.retangulo{
    width: 100%;
    margin-bottom: -10px;
}
.retangulo2{
    width: 100%;
}
.retangulo3{
    width: 43px;
    height: 2px;
    top: 113px;
    left: 1021px;
    border-radius: 2px;
}
.retangulo3{
    display: block;
    margin-top: 5px;
    width: 43px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 2px;
    top: 113px;
    left: 1021px;
    border-radius: 2px;
}
.section1{
    position: relative;
    background-image: url('assets/Bg-topo\ 1.png');
    background-size: cover;      
    background-position: center; 
    height: 600px;
    bottom: 10px;
    
}
.imgCentral{
    position: absolute;
    top: 274px;
    left: 762px;
    transform: translate(-50%, -50%);
    height: 265px; 
    width: 480px; 
    opacity: 0.8; 

}
.section2{
    background-color: rgb(190, 193, 214);
    background-image: url('assets/bgTvLeao_Home\ 3.png');
    background-size: cover;      /* Faz a imagem de fundo cobrir toda a section */
    background-position: center; /* Centraliza a imagem de fundo */
    position: relative;
    height: 600px;               /* Ajuste a altura conforme necessário */
    bottom: 20px;
    display: flex;
}
.FotodoPovo{
    position: relative;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%); /* Centraliza a imagem por cima */
    width: 660px;                     /* Ajuste o tamanho da foto */
    height: 550px;

}
.QuemSomos{
   font-size: 64px;
   color: #CC1235;
   line-height: 34px;
   letter-spacing: 0%;
   position: absolute; 
   top: 100px; 
   left: 725px;
   font-family: "Koulen", sans-serif;
   font-weight: 400;
   font-style: normal;
}
.Paragrafo1{
    font-family: Inter;
    line-height: 24px;
    position: absolute;
    top: 200px; 
    left: 725px;
    
}
.text-blue{
    font-family: "Inter", sans-serif;
    color: #36345A;
    font-weight: 500px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}
.botao1{
    background-color: rgb(47, 38, 85);
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 146px;
    height: 48px;
    top: 450px;
    left: 725px;
    border-radius: 6px;
    position:absolute;
}
.Paragrafo2{
    color: #FFFFFF;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-weight: 500px;
    font-style: normal;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 2%;
    position: absolute;
    top: 450px;
    left: 400px;
}
.Paragrafo3{
    color: #FFFFFF;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-weight: 500px;
    font-style: normal;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 2%;
    position: absolute;
    top: 480px;
    left: 300px;
}
.section3{
    
    background-color: #011759;
    position: relative;
    bottom: 20px;
}
.h1-3Section{
    position: absolute;
    bottom: 660px;
    left: 700px;
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
    line-height: 34px;
    color: #FFFFFF;
}
.Fundo2{
    width: 100%;
}
.h1-4Section{
    position: absolute;
    top: 500px;
    left: 700px;
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
    line-height: 34px;
    color:#FFFFFF ;
}
.section4{
    background-color: #011759;
    position: relative;
    bottom: 20px;
    height: 760px;
    width: 100%;
}
.section5{
    background-color: #011759;
    position: relative;
    bottom: 20px;
}
.section6{
    display:flex;
    align-items: center;
    background-color: #F6F6F6;
    position: relative;
    bottom: 20px;
}
.h1-final{
    position: absolute;
    top: px;
    left: 700px;
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
    line-height: 34px;
    color:#CC1235 ;
}